.btn {
  height: 30px;
  width: 180px;
}

input {
  height: 30px;
  width: 180px;
}

.btn:hover {
  background-color: #533da5;
  color: aliceblue;
  outline: none;
}

.button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: .9rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px 10px;
  width: 200px;
}

.table-results td {
  margin-top: 10px;
  min-width: 100px;
  text-align: center;
}